@model Batheer.Application.Families.Commands.CreateFamily.CreateFamilyCommand

<h4>البنوك</h4>
<hr />
<div class="row">
    @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="BankDefaultData.IsThereABankDefault" /> @Html.DisplayNameFor(model => model.IsThereABankDefault)
            </label>
        </div>*@


    <div class="custom-control col-md-6 custom-checkbox">
        <input asp-for="BankDefaultData.IsThereABankDefault" type="checkbox" class="custom-control-input" name="BankDefaultData.IsThereABankDefault">
        @*<input asp-for="BankDefaultData.IsThereABankDefault" type="hidden" class="custom-control-input" name="BankDefaultData.IsThereABankDefault">*@
        <label class="custom-control-label" asp-for="BankDefaultData.IsThereABankDefault">

            هل يوجد تعثر لأحد البنوك؟
        </label>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
