@model Batheer.Application.AssociationsAffiliatedWithTheCouncilUsers.Commands.CreateUser.CreateUserCommand
@using Batheer.Application.AssociationsAffiliatedWithTheCouncils.Queries.GetAssociationsAffiliatedWithTheCouncils;
@inject MediatR.IMediator Mediator;


@{
    ViewData["Title"] = "إنشاء حساب ";

    ViewBag.AssociationsAffiliatedWithTheCouncilId = await Mediator.Send(new GetAssociationsAffiliatedWithTheCouncilsQuery());

}

<div class="row">
    <div class="col-lg-12">

        <h4>@ViewData["Title"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">الجمعية</label>

                        <select asp-for="AssociationAffiliatedId" class="form-control" required
                                asp-items="@(new SelectList(ViewBag.AssociationsAffiliatedWithTheCouncilId, "Id", "Name"))">
                            <option value="" selected disabled>--الرجاء الاختيار--</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">الاسم</label>
                        <input asp-for="FullName" class="form-control" required />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">الجوال</label>
                        <input asp-for="Mobile" class="form-control"  />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">اسم المستخدم</label>
                        <input asp-for="UserName" class="form-control" required minlength="6" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">كلمة المرور</label>
                        <input asp-for="Password" class="form-control" required minlength="6" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="custom-file col-md-6">
                        <label asp-for="PhotoFile" class="control-label">صورة الهوية</label>
                        <input asp-for="PhotoFile" class="custom-file-input" type="file" accept="image/*" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="حفظ" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">عودة</a>
        </div>
    </div>
</div>