@model BaSaleh.Domain.AssociationAffiliatedProjects.Entities.MonthlyIncomeData

<h4>البيانات المالية</h4>
<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="MonthlyIncomeId" class="control-label">الدخل الشهري</label>
        <select asp-for="MonthlyIncomeId" class="form-control" asp-items="ViewBag.MonthlyIncomeId"></select>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
