@model BaSaleh.Domain.AssociationAffiliatedProjects.Entities.MaritalStatusData

<h4>الحالة الاجتماعية</h4>
<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="MaritalStatusId" class="control-label">الحالة الاجتماعية</label>
        <select asp-for="MaritalStatusId" class="form-control" asp-items="ViewBag.MaritalStatusId"></select>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Others" class="control-label">أخرى</label>
        <input asp-for="Others" class="form-control" />
        <span asp-validation-for="Others" class="text-danger"></span>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
