<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>الجمعيات التابعة لمجلس الجمعيات الأهلية بتبوك</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="/AssociationAffiliateds/rewaagirl.jpg" class="img-fluid" alt="جمعية رواء للفتيات ">
                </div>
                <div class="text-center">جمعية رواء للفتيات </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="100">
                    @*<img src="/themes/scaffold/assets/img/clients/client-2.png" class="img-fluid" alt=" جمعية المسؤولية الاجتماعية بتبوك">*@
                </div> <div class="text-center">
                    جمعية المسؤولية الاجتماعية بتبوك
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="150">
                    <img src="/AssociationAffiliateds/ihsanhousing.jpg" class="img-fluid" alt="جمعية إحسان للاسكان">
                </div>
                <div class="text-center">جمعية إحسان للاسكان</div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="200">
                    <img src="/AssociationAffiliateds/qader2019.jpg" class="img-fluid" alt="جمعية قادر لتعزيز الصحة النفسية">
                </div>
                <div class="text-center">جمعية قادر لتعزيز الصحة النفسية</div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="250">
                    @*<img src="/themes/scaffold/assets/img/clients/client-5.png" class="img-fluid" alt="">*@
                </div>
                <div class="text-center">المتقاعدين بمنطقة تبوك</div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="300">
                    <img src="/AssociationAffiliateds/tabukpaws.jpg" class="img-fluid" alt="حقوق الحيوان بتبوك عطف">
                </div>
                <div class="text-center">حقوق الحيوان بتبوك عطف</div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">
                </div>
                <div class="text-center">
                    جمعية حقل لرعاية الايتام
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="client-logo">
                    @*<img src="/themes/scaffold/assets/img/clients/client-8.png" class="img-fluid" alt="جمعية المستقبل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    جمعية المستقبل لرعاية الايتام
                </div>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/jalber_nabe.jpg" class="img-fluid" alt="جمعية البر الخيرية بنابع داما">
                </div>
                <div class="text-center">
                    جمعية البر الخيرية بنابع داما
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/br-536.jpeg" class="img-fluid" alt="جمعية البر الخيرية بالخريبة">
                </div>
                <div class="text-center">
                    جمعية البر الخيرية بالخريبة
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/birr_socity.png" class="img-fluid" alt="جمعية البر الخيرية بئير بن هرماس">
                </div>
                <div class="text-center">
                    جمعية البر الخيرية بئير بن هرماس
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/duba_charity.png" class="img-fluid" alt="جمعية الخيرية بضباء">
                </div>
                <div class="text-center">
                    جمعية الخيرية بضباء
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/alkhrita.png" class="img-fluid" alt="جمعية الخريطة الخيرية">
                </div>
                <div class="text-center">
                    جمعية الخريطة الخيرية
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    جمعية البر الخيرية بالمويلح
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/albertayma78.jpg" class="img-fluid" alt="جمعية البر والخدمات الاجتماعية بتيماء">
                </div>
                <div class="text-center">
                    جمعية البر والخدمات الاجتماعية بتيماء
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    الجمعية الخيرية لرعاية الايتام
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/HaglCharity.jpg" class="img-fluid" alt="جمعية حقل الخيرية">
                </div>
                <div class="text-center">
                    جمعية حقل الخيرية
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/spfbspa.jpg" class="img-fluid" alt="جمعية فهد بن سلطان الاجتماعية الخيرية">
                </div>
                <div class="text-center">
                    جمعية فهد بن سلطان الاجتماعية الخيرية
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/kkcharitable.jpg" class="img-fluid" alt="جمعية الملك خالد النسائية">
                </div>
                <div class="text-center">
                    جمعية الملك خالد النسائية
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/kacasa.png" class="img-fluid" alt="جمعية الملك عبدالعزيز الخيرية">
                </div>
                <div class="text-center">
                    جمعية الملك عبدالعزيز الخيرية
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    الجمعية الخيرية لحفظ النعم
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    الجمعية الخيرية للعمل التطوعي  

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/Osareah.jpg" class="img-fluid" alt="جمعية التنمية الاسرية بتبوك">
                </div>
                <div class="text-center">
                    جمعية التنمية الاسرية بتبوك

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    جمعية البر الخيرية بالظلفه  
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    جمعية البر الخيرية في مركز بجدة
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/alberghra_698.jpg" class="img-fluid" alt="جمعية البر الخيرية بمركز الجهراء">
                </div>
                <div class="text-center">
                    جمعية البر الخيرية بمركز الجهراء
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/alqra.png" class="img-fluid" alt="جمعية القرى الخيرية بأشواق">
                </div>
                <div class="text-center">
                    جمعية القرى الخيرية بأشواق

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    الجمعية الخيرية للتنمية الأسرية ضباء 

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/albada_kher.jpg" class="img-fluid" alt="جمعية البدع الخيرية">
                </div>
                <div class="text-center">
                    جمعية البدع الخيرية

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    <img src="/AssociationAffiliateds/tabukautism.jpg" class="img-fluid" alt="جمعية التوحد بتبوك">
                </div>
                <div class="text-center">
                    جمعية التوحد بتبوك
                </div>

            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                    @*<img src="/AssociationAffiliateds/HaqelAytam.jpg" class="img-fluid" alt="جمعية حقل لرعاية الايتام">*@
                </div>
                <div class="text-center">
                    الجمعية الخيرية للرعاية الصحية

                </div>
            </div>

          

        </div>

    </div>
</section><!-- End Clients Section -->
