@model Batheer.Application.Families.Commands.DeleteFamily.DeleteFamilyCommand

@{
    var familyObjectkey = ViewBag.familyObjectkey;

    Model.Objectkey = ViewBag.familyObjectkey;
}




<form asp-action="Delete" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">

        <div class="form-group col-md-12">
            <label class="control-label">سبب الحذف :</label>
            <textarea class="form-control" required asp-for="DeleteNotes"></textarea>
            <span asp-validation-for="DeleteNotes" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <input type="hidden" asp-for="Objectkey" />
            <input type="hidden" name="familyObjectkey" value="@familyObjectkey" />
            <input type="submit" value="حذف" class="btn btn-sm btn-outline-primary" onclick="return confirm('هل أنت متأكد من الحذف?');" />
        </div>
    </div>

</form>